.terminal {
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5rem;
  position: relative;
  color: #fff;
  max-width: 548px;
  padding: 2rem 0;
  margin: auto;
}

.terminal_top {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 2rem;
  padding: 0 0.5rem;
  border-radius: 8px 8px 0 0;
  background-color: hsla(0, 0%, 87%, 1);
  border: hsla(0, 0%, 60%, 1) solid 1px;
}

.terminal-main {
  padding-bottom: 56.25%;
  border-radius: 0 0 8px 8px;
  background-color: hsl(0, 0%, 0%);
  position: relative;
}

.terminal-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.5rem;
}

.terminal_top > div {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0px;
  border-radius: 100%;
  border: solid 1px;
}

.terminal_top > div:nth-child(1) {
  background-color: hsla(3, 96%, 65%, 1);
  border-color: hsla(3, 96%, 59%, 1);
}

.terminal_top > div:nth-child(2) {
  background-color: hsla(45, 100%, 51%, 1);
  border-color: hsla(45, 100%, 45%, 1);
}

.terminal_top > div:nth-child(3) {
  background-color: hsla(125, 70%, 60%, 1);
  border-color: hsla(125, 70%, 45%, 1);
}

.welcome {
  display: flex;
  align-items: center;
}

.welcome h1 {
  position: relative;
  padding: 0.5rem 0;
  width: max-content;
}

.welcome > h1::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.welcome > h1::after {
  background: black;
  border-left: white solid 2px;
  animation: typwriter 4s steps(19) forwards, removeLine 0s 4.1s forwards;
}

.welcome * {
  font-size: 20px;
  font-weight: 300;
}

.welcome h1 {
  color: #26dd3a;
}

h2 {
  opacity: 0;
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  line-height: 28px;
  animation: fadeIn 1.5s 4.25s forwards;
}

@media (min-width: 500px) {
  .welcome * {
    font-size: 28px;
  }
  h2 {
    font-size: 22px;
  }
}

@media (min-width: 600px) {
  .welcome * {
    font-size: 34px;
  }
}

@keyframes typwriter {
  to {
    left: 100%;
  }
}

@keyframes removeLine {
  to {
    border-color: black;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
